<!DOCTYPE html>
<html>
  <head>
    <title>WeatherOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-sA+z0ymF7QXkP0Qb1h6lQbQ4Q1Q1Q1Q1Q1Q1Q1Q1Q1Q=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-o9N1j1g1Q1Q1Q1Q1Q1Q1Q1Q1Q1Q1Q1Q1Q1Q1Q1Q1Q=" crossorigin=""></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
